<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{header}}</nb-card-header>
        <nb-card-body>
            {{body}}
            <div class="dialog-image">
                <img *ngIf="header == 'Éxito'" src="../../../assets/img/success.png" alt="success">
                <img *ngIf="header == 'Error'" src="../../../assets/img/error.png" alt="error">
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary" (click)="ref.close()">Cerrar</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<nb-card>
    <nb-card-header>Editar Requisición - {{requisition.id}} <span class="level"> <nb-icon icon="bar-chart-2-outline" ></nb-icon> Nivel - {{level}}</span> </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-6 pr-10">
                <div class="row">
                    <div class="form-group col-6 pr-5">
                        <p for="room">Instalación</p>
                        <nb-card class="form-values">
                            <nb-card-body><label>{{roomName}}</label></nb-card-body>
                        </nb-card>
                    </div>
                    <div class="form-group col-6 pl-5">
                        <p for="deparment">Departamento</p>
                        <nb-card class="form-values">
                            <nb-card-body><label>{{deparmentName}}</label></nb-card-body>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 pr-5">
                
                    <p for="room">Usuario</p>
                    <nb-card class="form-values">
                        <nb-card-body><label>{{userName}}</label></nb-card-body>
                    </nb-card>
                </div>
                <div class="form-group col-6 pl-5">
                    <p for="room">Agente</p>
                    <nb-card class="form-values">
                        <nb-card-body><label>{{agentName}}</label></nb-card-body>
                    </nb-card>
                </div>
            </div>
                <div class="form-group" *ngIf="accessChecker.isGranted('edit', 'assigned-requisitions') | async">
                    <p for="status">Estatus</p>
                    <nb-select id="status" fullWidth placeholder="{{statusName}}" [(ngModel)]="statusId" requiered>
                        <nb-option *ngFor="let status of status" value="{{status.id}}">{{status.name}}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group" *ngIf="accessChecker.isGranted('view', 'user') | async">
                    <p for="status">Estatus</p>
                    <nb-card class="form-values">
                        <nb-card-body><label>{{statusName}}</label></nb-card-body>
                    </nb-card>
                </div>
                <div class="row">
                    <div class="form-group col-6 pr-5">
                        <p for="name">Fecha Inicial</p>
                        <nb-card class="form-values">
                            <nb-card-body><label>{{requisition.initialDate}}</label></nb-card-body>
                        </nb-card>
                    </div>
                    <div class="form-group col-6 pl-5">
                        <p for="name">Fecha Final</p>
                        <nb-card class="form-values">
                            <nb-card-body><label>{{requisition.finalDate}}</label></nb-card-body>
                        </nb-card>
                    </div>
                </div>
                <div class="form-group">
                    <p for="description">Descripción del Evento</p>
                    <nb-card class="form-values">
                        <nb-card-body><label>{{requisition.description}}</label></nb-card-body>
                    </nb-card>
                </div>
                <div class="form-group">
                    <p for="role">Necesidades</p>
                    <nb-card class="need-list">
                        <nb-card-body class="items-rows">
                            <div class="row pb-5" *ngFor="let need of requisition.need">
                                <label>
                                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                                    {{need.name}} - {{need.quantity}}
                                </label>
                            </div>
                            <label *ngIf="requisition.need.length == 0" for="">No hay necesidades asignadas</label>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
            <div class="col-6 pl-5">
                <nb-chat title="Comentarios de la requisición" scrollBottom="true" size="large" status="primary">
                    <nb-chat-message *ngFor="let message of messages" [message]="message.comment"
                        [reply]="!message.reply" [sender]="message.user.name + ' ' + message.user.surname"
                        [date]="message.submit_date">
                    </nb-chat-message>
                    <nb-chat-form (send)="sendMessage($event, sessionUser, false)" [showButton]="true"
                        [dropFiles]="false">
                    </nb-chat-form>
                </nb-chat>
            </div>
        </div>

        <div class="buttons">
            <button class="mr-5" *ngIf="accessChecker.isGranted('view', 'user') | async" nbButton status="success" (click)="cancel()">Volver</button>
            <button class="ml-5" *ngIf="accessChecker.isGranted('view', 'user') | async" nbButton status="primary" (click)="edit(dialog)">Enviar Comentarios</button>
            <button class="mr-5" *ngIf="accessChecker.isGranted('edit', 'assigned-requisitions') | async" nbButton status="danger" (click)="cancel()">Cancelar</button>
            <button class="mr-5 ml-5" *ngIf="accessChecker.isGranted('edit', 'assigned-requisitions') | async"  nbButton status="success" (click)="promote(dialog)">Promover Requisicion</button>
            <button class="ml-5" *ngIf="accessChecker.isGranted('edit', 'assigned-requisitions') | async" nbButton status="primary" (click)="edit(dialog)">Editar Requisicion</button>
        </div>

    </nb-card-body>
</nb-card>