<div class="navbar-content">
    <div class="logo">
        <a>Room Scheduling System</a><br>
        <span class="version ng-star-inserted">v1.0.0 </span>

    </div>

    <div class="header-container">
        <nb-actions size="small">
            <nb-action class="user-action">
                <nb-user 
                    size="medium" 
                    shape = "semi-round"
                    [nbContextMenu]="userMenu"
                    nbContextMenuTag="user-context-menu"
                    [name]="sessionUser.name +' '+ sessionUser.surname" 
                    [title]="sessionUser.role.name">
                </nb-user>
            </nb-action>
        </nb-actions>
    </div>
</div>