@import 'src/themes.scss';
ngx-datatable{
    margin-top: 1rem;
}
.edit-button{
    text-decoration: none;
    color:#919fb1 ;
}
.ml-5{ margin-left: .5rem;}
.mr-5{ margin-right: .5rem;}

.dialog-image{
    padding-top: 1.5rem;
    text-align: center;
  }